{% extends "base.html" %}

{% block title %}
    <title>Add New Product</title>
{% endblock %}

{% block content %}
    <a href="{% url 'fetchall' %}">Product List</a>
    <h1>Add Product</h1>
    <!-- <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Product</button>
    </form> -->
    {{ message }}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="productname" placeholder="Enter Product Name">
        <input type="number" placeholder="Enter Product Price" name="productprice">
        <input type="submit" value="Add Product">
    </form>
{% endblock %}